{% extends "layouts/layouts.html" %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
   <h1> {{title}}</h1>
   <form action="" method="post">
    {% csrf_token %}
    {% comment %} {{register_form}} {% endcomment %}
    {% comment %} esta linea sirve como filtro para chechar errores que podrian suceder {% endcomment %}
    {{register_form.errors}}  
    {% for field in register_form %}
        <label>{{field.label}}</label>
        {{field}}
    {% endfor %}
    <input type="submit" value="Registrarse">
   </form>
{% endblock content %}